<div class="well">
  <input #npcName type="text" class="form-control" placeholder="Npc Name" id="txtSearch">
  <button (click)="getDrops(npcName.value); getNpc(npcName.value)" class="form-control btn btn-large btn-primary" id="btnSearch">Search</button>
</div>

<ng-container *ngIf="npc && drops">
<div class="display col-md-8">
  <app-npc [npc]="npc" [imgData]="imgData"></app-npc>
  <app-drops [drops]="drops"></app-drops>
</div>

<div class="bag col-md-4">
  <h2>Looting bag</h2>
  <app-lootingbag></app-lootingbag>
</div>
</ng-container>